
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    background-image: url("http://i.huffpost.com/gen/1756043/images/o-COCKTAIL-facebook.jpg");
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    background-color: #3A3637;
}
footer {
 padding-top: 50px;
    background-color:#1f1f1f;
bottom: -800px;
}

#Step{
    position:relative;
    top: 425px;
    padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #01A4CD;
    text-transform:uppercase;
    font-size: 24pt;
    
    color:white;
}

#StepAnswer{
    position:relative;
    top: 425px;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F1F1F1;
    font-size: 16pt;
    
    color:#3A3637;
}


/* Navbar */
ul.navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

li#title{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float:right;
    
}

li.navigationbar{
    float:left;
}

li a#navbar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

li a#navbar:hover{
    background-color: #01A4CD;
}


.active{
    background-color: #01A4CD;
}

h1, h2 {
    color: #F1F1F1;
    font-size: 26pt;
   
}

h3, h4, h5, h6 {
    color: #6c6c6c;
    font-size: 18pt;
}
h3:hover, h4:hover, h5:hover, h6:hover {
    color: #01A4CD;
}

}

h7 {
    color: #01A4CD;
    font-size: 26pt;
   
}



video {
    padding: 10px 0;
    
    background-color:#231F20;
    color: #6c6c6c;
}

/* Footer */

footer {
    padding: 10px 0;
    background-color:#231F20;
    color: #6c6c6c;
}

a:link {
    color: #6c6c6c;
}

a:hover{
    text-decoration: none;
    color: #00afdb;
}

.fa-twitter{
    color:#6c6c6c;
}

.fa-twitter:hover {
    color: #44ccff;
}

.fa-facebook{
    color:#6c6c6c;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram{
    color:#6c6c6c;
}

.fa-instagram:hover {
background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* Horizontal Rule */

hr.small {
    max-width: 100px;
    height:0; 
    border:0; 
    border-top:1px solid #16CCFF;
}





.box{
    float:center;
    margin-right:0px;
    margin-left:0px;
}
.clear{
    clear:both;
}