/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
    width: 100%;
    height: 100%;
     font-family: 'Roboto Condensed', sans-serif;
}

.text-middle-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-middle-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}



/* Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4); 
    
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-blue{
    
    letter-spacing: .05em;
    display: inline-block;
    margin: 0 0 10px;
    border: 3px solid #00afdb;
    color: #00afdb;
    text-transform: uppercase;
    background: 0 0;
    transition: background 0.5s;
    
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    cursor: pointer;
    text-align: center;
    color: white;
    background: #00afdb;
    text-shadow: none;
}



/* Horizontal Rule */

hr.small {
    max-width: 100px;
    height:0; 
    border:0; 
    border-top:1px solid #16CCFF;
}


/* Navigation Menue */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav > .Bartending_Society {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .Bartending_Society a {
    color: #999;
}

.sidebar-nav > .Bartending_Society a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}



/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: url("../images/1111.jpg") no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
    background-color:#231F20;
    color:white;
}


/* VR and Shop */

.vr-shop {
    display: table;
    width: 100%;
    height: 250px;
    color: white;
    background: url("../images/21.jpg") no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}



/* Getting Started */

.gettingstarted {
    padding: 50px 0;
    background-color:#231F20;
    color:white;
}

.gettingstarted-item {
    margin-bottom: 30px;

}

.fa-circle{
    color: #16CCFF;
}

.fa-glass{
    color: white;
}




/* Filler Content */

.filler {
    display: table;
    width: 100%;
    height: 400px;
    color: white;
    background: url("../images/6.jpg") no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}




/* Drink of the Week*/

.drinkofweek {
    padding: 50px 0;
    background-color: #231F20;
    color: white;
}

.img-drinkofweek {
    margin: 0 auto;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 30px;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid white;
  border-top: 1px solid white; 
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transform: scale(0,1);
   -webkit-transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.hovereffect:hover img {
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 18px;
  background-color: transparent;
  color: white;
  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
}

.hovereffect a, 
.hovereffect h4 {
  color: white;
  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;

}

.hovereffect:hover a, 
.hovereffect:hover h2, 
.hovereffect:hover h4 {
  opacity: 1;
}



/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}




/* Footer */

footer {
    padding: 100px 0;
    background-color:#231F20;
    color: #6c6c6c;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    text-decoration: none;
    color: #00afdb;
}

.email:link{
    color:#6c6c6c;
}

.email:hover{
    color:#00afdb;
}

.email:visited{
    text-decoration: none
    color:#6c6c6c;
}

.fa-twitter,
.fa-facebook,
.fa-instagram{
    color:#6c6c6c;
}

.fa-twitter:hover {
    color: #44ccff;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



/* Return To Top Button */
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}






